<%= render 'shared/errors', obj: @ticket %>

<div class='row'>
  <div class="col-sm-10">
    <%= bootstrap_form_for @ticket do |f| %>
      <%= f.collection_select :project_id, Project.all, :id, :name %>
      <%= f.text_field :name %>
      <%= f.text_area :body %>
      <%= f.select :status, options_for_ticket_status %>
      <%= f.collection_select :assignee_id, User.all, :id, :name, include_blank: "No one" %>
      <%= f.collection_check_boxes :tag_ids, Tag.alphabetical, :id, :name, inline: true, label_class: "checkbox", label: "Tags" do |cb| %>
        <% cb.label { cb.check_box + cb.text } %>
      <% end %>
      <%= f.form_group do %>
        <%= f.submit 'Submit', class: "btn btn-success" %>
      <% end %>
    <% end %>
  </div>
</div>