<table>
  <thead>
    <tr>
      <th scope="row">Project</th>
      <th>Name</th>
      <th>Body</th>
      <th>Status</th>
      <th>Open</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.project.name %></td>
        <td><%= link_to ticket.name, ticket %></td>
        <td><%= ticket.body %></td>
        <td><%= ticket.status %></td>
        <td><%= ticket.open %></td>
        <td class="shrink">
          <%= link_to 'Edit', edit_ticket_path(ticket) %>
          <%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>