<h1>
  <%= @ticket.name %>
</h1>

<p>
  <%= @ticket.body %>
</p>

<p>
  <strong>Tags:</strong>
  <%= tag_list(@ticket) %>
</p>

<br>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Creator</th>
      <th>Assignee</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @ticket.status %></td>
      <td><%= @ticket.creator.name %></td>
      <td><%= @ticket.assignee ? @ticket.assignee.name : "-" %></td>
    </tr>
  </tbody>
</table>

<div class="comments">
  <h2>Comments</h2>
  
  <% if @ticket.comments.any? %>
    <% @ticket.reload.comments.each do |comment| %>
      <div class="comment">
        <p><%= comment.body %></p>
        <p>
          <em>
            posted by <%= comment.creator.name %> <%= time_ago_in_words(comment.created_at) %> ago
            <% if comment.created_at != comment.updated_at %>
              - updated <%= time_ago_in_words(comment.updated_at) %> ago
            <% end %>
          </em>
        </p>
        <% if signed_in? && current_user == comment.creator %>
          <p>
            <%= link_to "Edit", edit_ticket_comment_path(@ticket, comment), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window'} %>
            <%= link_to 'Delete', ticket_comment_path(@ticket, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
          </p>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <p>There are no comments yet.</p>
  <% end %>
  
  <%= render "comments/form" %>
</div>

<div id="modal-window" class="modal fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
</div>