<p>
  <strong>Name:</strong>
  <%= @ticket.name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @ticket.body %>
</p>

<p>
  <strong>Status:</strong>
  <%= @ticket.status %>
</p>

<p>
  <strong>Open:</strong>
  <%= @ticket.open %>
</p>

<p>
  <strong>Tags:</strong>
  <%= tag_list(@ticket) %>
</p>

<br>

<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>