<h1>Projects</h1>

<table class="table">
  <thead>
   <tr>
     <th scope="row">Name</th>
     <th>Open Tickets</th>
     <th>Total Tickets</th>
   </tr>
 </thead>
 
 <tbody>
   <% @projects.each do |project| %>
    <tr>
      <td>
        <strong><%= link_to project.name, project %></strong>
        <br>
        <%= project.description %>
      </td>
      <td><%= project.tickets.open.count %></td>
      <td><%= project.tickets.count %></td>
     </tr>
   <% end %>
 </tbody>
</table>

<br>

<%= link_to 'New Project', new_project_path %>