<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <%= link_to 'Edit', edit_project_path(@project) %> |
  <%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

<br>

<h2>Tickets</h2>

<%= render "tickets/list", tickets: @project.tickets %>